/* ----------------------------------------
Header
------------------------------------------- */


h1{
    align-content: center;
    padding-bottom: 10px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 110%;
   }
h2{
    font-family: 'Josefin Sans', sans-serif;
    text-align: left; 
    line-height: 110%;
}

h3{
      text-align: center;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 15px;
      line-height: 1.1;
  }

  p{
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: small;
    padding: 70px 0;
    padding-left: 60px;
}

  .site{
    max-width: 1300px;
    padding: 10%;
    justify-content: center;
  }

  .header {
    height: 100px;
  }

  .banner {
    height: 200px;
  }
/* ---- list ---- */

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
   }


   #pagewrap{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
   }
   
   .list{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
   }
   
   .image{
    width: 10%;
    padding: 10px;
    margin: 2% 1.5%;
    flex-grow: 1;
   }
   
   .image img{
    max-width: 100%;
    margin: 0 auto;
   }
   
   .image:hover{
    box-shadow: 0 1px 30px rgba(0,0,0,.3);
    transform: scale(1.10);
    border: none;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
    z-index: 1;
   }
   
   .image p{
    padding: 10px;
   }


* { box-sizing: border-box; }

body { font-family: sans-serif; }

.submit {
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
  font-size: small;
}



/* ---- grid ---- */

.grid {
  /*background: #EEE;*/
  max-width: 100%;
}

.grid:after {
    content: '';
    display: block;
    clear: both;
  }
  
.imgwrapper1 {width: 200px;
  padding: 12%;
  margin: 37px;
  margin-top: 43px;}

.imgwrapper2 {width: 110px;
  padding: 4%;
  margin: 43px;}
  
.imgwrapper3 {width: 180px; 
  padding: 10%;
  margin-top: 33px;
  margin: 29px;
}


.imgwrapper4 {width: 120px;
  padding: 8%;
  margin-top: 27px;
  margin: 45px;

        }

.imgwrapper5 {width: 200px;
  padding: 8%;
  margin-top: 43px;
  margin: 23px;

        }

  /* ---- grid-item ---- */
  
  .grid div {

    height: 100%;
    float: left;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    vertical-align: middle;
    /*border: 2px solid #333;
    border-color: hsla(0, 0%, 0%, 0.5);*/
  }

  
/* ---- mug hover ---- */


div.hovertext, div.hovertext:hover {
  display: none;
  background-color: white;
  opacity: 0.8;
  width: 210px;
  height: 220px;
  margin-top: 10px;
  pointer-events: none;
  
}


/*img:hover ~ .image1hovertext {
  display: block;
  position: absolute;
}*/

section > div:hover > .hovertext {
  display: block;
  position: absolute;
}

#selectedMug, #selectedDrink {
  height: 300px;
  margin: 10px;
}

.result {
 display: flex;
 width: 100%;
 justify-content: center;
}