/* ----------------------------------------
Base Styles
------------------------------------------- */
* {
	box-sizing: border-box;
}


/* ----------------------------------------
Typography
------------------------------------------- */

h1{
    color: #ffffff;
    font-size: 24px ;
    letter-spacing: 6px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 900; 
    text-align: center;
}

h2{
    color: #44545e;
    font-size: 16px ;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}

h3{
    color: #44545e;
    font-size: 12px ;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}

h4{
    color: #819cae;
    font-size: 12px ;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
}


p{
    color: #45555f;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.68;

}







/* ----------------------------------------
Lists
------------------------------------------- */
ul.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    list-style: none;
    line-height: 60px;
  }

.container a {
    text-decoration: none;
    color: #819cae;
    font-size: 10px ;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
  }

.Issues {
        text-decoration: none;
        color: #819cae;
        font-size: 10px ;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 900;
        letter-spacing: 2px;
      }



/* ----------------------------------------
Layout
------------------------------------------- */
nav {
    height: 60px;
  }
  
.container {
    padding-left: 15%;
    padding-right: 15%;
  }


 img{
      max-width: 100%;
      height: unset;
      width: auto; 
      }

.aboutimg {
    height: auto;
    width: 300px; 
    }


.flex-container {
        display: flex;
        justify-content: space-between;
        align-items:center;
        flex-direction: row;
        flex-wrap: nowrap;
    }

.row {
    display: flex;
    line-height: 1.68;
    justify-content:space-between;
    }
      
      
.column {
        flex-direction: column;
        justify-content:space-between;
        display: flex;
        padding-right: 7px;
      }
      

/* ----------------------------------------
Header
------------------------------------------- */
header{
    background-image: url("blog_header_bg.jpg");
    background-size:cover;
    background-position:center;
}

.header{
    padding-top: 130px;
    height: 300px;
}

/* ----------------------------------------
navbar
------------------------------------------- */
/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }
  
  /* Navbar links */
  #navbar a {
    display: inline-block;
    color: #819cae;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 10px ;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 10px;
  }
/* ----------------------------------------
Footer
------------------------------------------- */
footer{
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #cdf3f6;

}

.footer{
    text-align: center;
    text-decoration-color: black;
}