/* ----------------------------------------
Base Styles
------------------------------------------- */
* {
	box-sizing: border-box;
}

/* ----------------------------------------
Typography
------------------------------------------- */

h1{
    color: rgb(0, 0, 0);
    font-size: 48px ;
    font-family: 'Raleway', sans-serif;
}


p{
    color: rgb(0, 0, 0);
    font-family: 'Lato', sans-serif;
    padding-right: 40px;
    padding-left: 40px;

}

.spaced{
    line-height: 1.5em;
}

/* ----------------------------------------
Lists
------------------------------------------- */



/* ----------------------------------------
Layout
------------------------------------------- */



/* ----------------------------------------
Header
------------------------------------------- */


/* ----------------------------------------
Buttons
------------------------------------------- */



/* ----------------------------------------
Footer
------------------------------------------- */
